---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import CardEdu from "../components/CardEdu.astro";
const pageTitle = "Education";

---
<Layout pageTitle={pageTitle}>
    
    <h2 class="link-card-education-header">Education</h2>
    <ul role="list" class="link-card-education">
        <CardEdu
            institution=""
            title="Information security || Seguridad inform치tica IFCT0109"
            dates="may 2025 - present"
            description=""
        />
        <CardEdu
            institution="Fundaci칩n Adecco"
            title="Cybersecurity and Ethical Hacking Bootcamp"
            dates="2024"
            description=""
        />
        <CardEdu
            institution=""
            title="Computer System Programming || Programaci칩n de sistemas inform치ticos IFCT0609"
            dates="2023"
            description=""
        />
    </ul>