---
import Contact from '../components/Contact.astro';
import Layout from '../layouts/Layout.astro';
const pageTitle = "Darío Maroto's Portfolio";
---
<Layout pageTitle={pageTitle}>
    <div class="heroheader">
        <div>
            <h1>Darío Maroto López</h1>
            <!-- <div class="gif">
                <img alt="RaccoonSpaceGif" src="/space.webp"/></div>
            </div> -->
            <span class="badge">Back-End || Full-Stack Developer</span>
            <div class="gif">
                <img alt="RaccoonSpaceGif" src="/space.webp"/>
            </div>
        </div>
    </div>
    <Contact />
    <div id="about">   
        <h2>About me</h2>
        <div class="about-content">
            <p>
                Back-End Developer with experience in Python, ETL, DevOps, and Cybersecurity. My work focuses on writing clean and efficient code, automating processes, and ensuring data integrity. Key skills: Python, ETL's (Extract, Transform, Load), Jenkins y Rundeck (CI/CD), Docker.
            </p>
        </div>
    </div>
<!-- write a div -->
    <div class="skills">
        <h2>Skills</h2>
        <div class="skills center">
            <img class="skills__img" width="46" height="46" alt="PYTHON" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
            <img class="skills__img" width="46" height="46" alt="SQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg" />
            <img class="skills__img" width="50" height="50" alt="Docker" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg" />
            <img class="skills__img" width="46" height="46" alt="Jenkins" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jenkins/jenkins-original.svg" />
            <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
            <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
            <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
            <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
            
          
        </div>
    </div>
    <!-- <div class="interests">
        <h2>Interests</h2>
        <p>
            Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
            Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
            facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
            Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
        </p>
    </div> -->
</Layout>
