---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Projects";
---
<Layout pageTitle={pageTitle}>
    <div class="gif-projects">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/blog.webp"/>
    </div>
    <!-- TODO: wrap h2 and ul in a div -> div class="projects"-->
    <h2>Projects</h2>
    <ul role="list" class="link-card-projects">
        <Card
            url="https://github.com/dariomlopez/etl_projects/tree/main/nyc_taxi_etl"
            image="/projects_images/nyc_taxi_etl.png"
            title="NYC Yellow Taxi Data Analysis and ETL"
            dates=""
            body="Comprehensive Extraction (E), Transformation (T), and Loading (L) process, coupled with in-depth data analysis of the New York City Yellow Taxi dataset."
            stack="Python, PogreSQL, Python library: Pandas"
        />
        <Card
            url="https://github.com/dariomlopez/dariomlopez.github.io/tree/47e29e1b043d8a083c0cac34b874c3258e1a7a34/documents/Security_Audit"
            image="/projects_images/BlueShield_SecurityAudit.png"
            title="Web Audit Report"
            dates=""
            body="Audit report conducted on a website to assess its security and the logic of the web application."
            stack="Manual pentesting"
        />
        <Card
            url="https://github.com/dariomlopez/backend-full-stack"
            image="/projects_images/proyecto_backend2.png"
            title="Back-End proyect"
            dates=""
            body="Development of the back-end for a web application using Express.js on the Node.js runtime for creating robust API endpoints, integrated seamlessly with a MySQL database for efficient data management and storage."
            stack="Javascript and Express.js, SQL as database"
        />
        <Card
            url="https://password-generator-dml.netlify.app/"
            image="/projects_images/Password_Generator.png"
            title="Random Password Generator"
            dates=""
            body="A sleek and functional random password generator crafted with pure HTML, CSS, and JavaScript (Vanilla), offering a lightweight and customizable solution for generating secure passwords."
            stack="HTML, CSS, Javascript"
        />
        <Card
            url="https://pong-clone-dml.netlify.app/"
            image="/projects_images/Pong_clone.png"
            title="Pong clone"
            dates=""
            body="Recreation of the legendary Pong game, developed from scratch with pure HTML, CSS, and JavaScript (Vanilla)."
            stack="HTML, CSS, Javascript"
        />
        <Card
            url="https://medium.com/"
            image="/projects_images/calculadora-react2.png"
            title="Calculator"
            dates=""
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
            stack="Python, CSS, Javascript, una, frase, muy, larga, con, comas"
        />
    </ul>
</Layout>

