---
interface Props {
  title: string;
  institution: string;
  dates: string;
  description: string;
}

const { title, institution, dates, description } = Astro.props;

---

<li class="card">
        <h3 class="card__title">
            {title}
        </h3>
        <h3 class="card__dates">
            {dates}
        </h3>
        <p class="card__txt">
            {institution}
        </p>
        <p>
            {description}
        </p>
    </a>
</li>