<contact>
  <div class="contact_links">
    <h2>Contact me:</h2>
    <ul class="contact-list">
        <li class="icon__btn"><a class="icon__link" href="https://mail.google.com/mail/?view=cm&fs=1&to=dmarotolopez@gmail.com" target="_blank"><span class="mail-icon">Email</span></a></li>
        <li class="icon__btn"><a class="icon__link" href="https://wa.me/+34679725971" target="_blank"><span class="phone-icon"></span></a></li>
        <li class="icon__btn"><a class="icon__link" href="https://linkedin.com/in/dario-maroto" target="_blank"><span class="linked-in">LinkedIn</span></a></li>
        <li class="icon__btn"><a class="icon__link" href="https://github.com/dariomlopez" target="_blank"><span class="git-icon">GitHub</span></a></li>
    </ul>
  </div>
</contact>